<!-- start custom head snippets -->
{% comment %}
<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
{% endcomment %}

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="dns-prefetch" href="https://res.cloudinary.com/">
<link rel="preconnect" href="https://res.cloudinary.com/" crossorigin>
<link rel="dns-prefetch" href="{{ site.url_cdn }}">
<link rel="preconnect" href="{{ site.url_cdn }}" crossorigin>
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net/">
<link rel="preconnect" href="https://cdn.jsdelivr.net/" crossorigin>
<link rel="dns-prefetch" href="https://ssl.google-analytics.com/">
<link rel="preconnect" href="https://ssl.google-analytics.com/" crossorigin>
<link rel="dns-prefetch" href="https://googleads.g.doubleclick.net/">
<link rel="preconnect" href="https://googleads.g.doubleclick.net/" crossorigin>

<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url_cdn }}/apple-touch-icon{{ site.version }}.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url_cdn }}/favicon-32x32{{ site.version }}.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url_cdn }}/favicon-16x16{{ site.version }}.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<style>
	
.page__content a[href*="//"]:not([href*="res.cloudinary.com"]):not([href*="wetterer.de"]):not([href*="localhost"]):not([href*="youtube.com"]):not(.webshot):after { content: "↗"; color: red; }
.archive__item a[href*="//"]:not([href*="res.cloudinary.com"]):not([href*="wetterer.de"]):not([href*="localhost"]):not([href*="youtube.com"]):not(.webshot):after { content: "↗"; color: red; }

a[href*="amazon.de"]:after, a[href*="amazon.com"]:after, a[href*="amzn.to"]:after { content: "↗*" !important; color: red; }

</style>

<!-- end custom head snippets -->
