<!-- start custom head snippets -->
<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<style>
	.blur-up {
		-webkit-filter: blur(5px);
		filter: blur(5px);
		transition: filter 600ms, -webkit-filter 600ms;
	}

	.blur-up.lazyloaded {
		-webkit-filter: blur(0);
		filter: blur(0);
	}
	.page__content {
	    text-align: justify;
	}
	.archive__item {
	    text-align: justify;
	}
	hr {
	    clear: both;
	}
	
	.photo-with-exif figcaption {
	    background-color: #fff;
	    border-radius: 0.3em;
	    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
	    box-sizing: border-box;
	    color: #888;
		margin-top: 10px;
	    font-size: 14px;
	    line-height: 1.4em;
	    padding: 10px;
	    position: relative;
	    width: 100%;
	}
	
	figure {
	    margin: 0;
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	
	figure.left {
	    float: left;
	    margin-bottom: 0.8em;
	    margin-right: 1.5em;
	}

	figure.right {
	    float: right;
	    margin-bottom: 0.8em;
	    margin-left: 1.5em;
	}
	
	.entry-date {
		float: right;
		font-size: 0.8em;
	}
	
img[data-sizes="auto"] { display: block; width: 100%; }
.page__content a[href*="//"]:not([href*="res.cloudinary.com"]):not([href*="wetterer.de"]):not([href*="localhost"]):not([href*="youtube.com"]):not([href*="500px.com"]):after { content: "↗"; color: red; }
.archive__item a[href*="//"]:not([href*="res.cloudinary.com"]):not([href*="wetterer.de"]):not([href*="localhost"]):not([href*="youtube.com"]):not([href*="500px.com"]):after { content: "↗"; color: red; }

a[href*="amazon.de"]:after, a[href*="amazon.com"]:after, a[href*="amzn.to"]:after { content: "↗*" !important; color: red; }
</style>

<!--
<script src="/assets/js/cloudinary-core-shrinkwrap.min.js"></script>
<script src="/assets/js/ls.rias.min.js"></script>
<script src="/assets/js/lazysizes.min.js"></script>

-->

<!-- end custom head snippets -->
