_site
_plugins_disabled
.DS_Store
*.sublime-project
*.sublime-workspace
*.icloud
codekit-config.json
node_modules
.sass-cache
.jekyll-metadata
.jekyll-cache
Gemfile.lock
Gemfile.lock
theme-setup
_fullsize
_unused
assets/images/_fullsize
assets/_images/_responsive
