<figure class="eighth">
{% if include.data == nil %}
{% capture gallery_path %}item.path contains '{{ include.dir }}'{% endcapture %}
{% assign image_files = site.static_files | where_exp: "item", gallery_path %}
{% for member in image_files %}
<a href="{{ site.url_cloudinary_popup}}{{ member.path | remove: "/assets/images/responsive/popup/"  }}" class="{{ site.image_popup_class }}" title="{{ include.alt }}">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.url_cloudinary_width }}{{ member.path  | remove: "/assets/images/responsive/popup/" }}" class="lazyload" alt="{{ include.alt }}" data-sizes="auto" data-widths="[25, 50, 65, 75, 111, 133, 150, 183, 200, 225, 250, 300, 350, 400, 450]" /></a>
{% include wetty/image_responsible_link.html img={{ member.path | remove: "/assets/images/responsive/popup/"  }} alt={{ include.alt }} %}
{% endfor %}
{% else %}
{% for member in include.data %}
{% include wetty/image_responsible_link.html img={{ member.image }} alt={{ member.alt }} %}
{% endfor %}
{% endif %}
</figure>
