.page {
  .page__inner-wrap {
    .page__content {
       text-align: justify;    
   }
  }
}

figure {
   img {
      margin-bottom: 0.4em;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    }

    figcaption {
      padding: 8px;
      background-color: #fff;
      border-radius: 0.3em;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
      text-align: center;
      width: 100%;
    }

  &.fourth {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(25% - 0.5em);
      }
    }

  }

  &.eighth {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(12.5% - 0.5em);
      }
    }
  }
}

figure.align-left, figure.align-right {
	@include breakpoint($small) {
	width: 33%;
   }
}

