article {
    text-align: justify;
    figure {
      img {
       margin-bottom: 0.4em;
      }
	  
 figcaption {
   padding: 8px;
   background-color: #fff;
   border-radius: 0.3em;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
   text-align: center;
   width: 98%;
 }
}
}

figure {
  margin: 0;

  &.fourth {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(25% - 0.5em);
      }
    }

  }

&.fifth {
  > a,
  > img {
    @include breakpoint($small) {
      width: calc(20% - 0.5em);
    }
  }

}

  &.eighth {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(12.5% - 0.5em);
      }
    }
  }
}

figure.align-left, figure.align-right {
	@include breakpoint($small) {
	width: 33%;
   }
}

iframe {
	border: 0;
}

.map-container {
  position: relative; 
  padding-bottom: 56.25%; /* ratio 16x9 */
  height: 0; 
  overflow: hidden; 
  width: 100%;
  height: auto;
  iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
  }
  .ratio4x3 {
    padding-bottom: 75%;
  }
}

.entry-date {
	float: right;
	font-size: 0.8em;
}
	
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
	
.responsive-video-container {
    clear: both;
}

.blur-up {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition: filter 1600ms, -webkit-filter 1600ms;
}
	
.lazyloading {
	opacity: 1;
	transition: opacity 290ms;
       background: #f7f7f7 url(/assets/images/loader.gif) no-repeat center;
}
	
.lazyload {
       background: #f7f7f7 url(/assets/images/loader.gif) no-repeat center;
}
	
.blur-up.lazyloaded {
	-webkit-filter: blur(0);
	filter: blur(0);
}

hr {
    clear: both;
}
