article {
    text-align: justify;
    figure {
      img {
       margin-bottom: 0.4em;
      }
	  
 figcaption {
   padding: 8px;
   background-color: #fff;
   border-radius: 0.3em;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
   text-align: center;
   width: 98%;
 }
}
}

figure {
  margin: 0;

  &.fourth {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(25% - 0.5em);
      }
    }

  }

&.fifth {
  > a,
  > img {
    @include breakpoint($small) {
      width: calc(20% - 0.5em);
    }
  }

}

  &.eighth {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(12.5% - 0.5em);
      }
    }
  }
}

figure.align-left, figure.align-right {
	@include breakpoint($small) {
	width: 33%;
   }
}

iframe {
	border: 0;
}

.map-container {
  position: relative; 
  padding-bottom: 56.25%; /* ratio 16x9 */
  height: 0; 
  overflow: hidden; 
  width: 100%;
  height: auto;
  iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
  }
  .ratio4x3 {
    padding-bottom: 75%;
  }
}