{% capture fig_class %}{{ include.class | default: "eighth" }}{% endcapture %}

<figure class="{{ fig_class }}">
{% if include.data == nil %}
<!-- Gallery by dir -->
{% capture gallery_path %}item.path contains '{{ include.dir }}'{% endcapture %}
{% assign image_files = site.static_files | where_exp: "item", gallery_path %}
{% for member in image_files %}
{% capture img_path %}{{ member.path }}{% endcapture %}
{% capture img_alt %}{{ include.alt }}{% endcapture %}
{% include wetty/image.html path=img_path alt=img_alt popup=true %}
{% endfor %}
{% else %}
<!-- Gallery by data -->
{% for member in include.data %}
{% capture img_path %}{{ member.image }}{% endcapture %}
{% capture img_alt %}{{ member.alt }}{% endcapture %}
{% include wetty/image.html path=img_path alt=img_alt popup=true %}
{% endfor %}
{% endif %}
</figure>
