<div class="map-container">
<iframe width="936" height="526" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q={{include.latitude}},{{include.longitude}}&amp;ie=UTF8&amp;t=h&amp;z=10&amp;ll={{include.latitude}},{{include.longitude}}&amp;output=embed">
</iframe></div>

{% comment %}
src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q={{include.latitude}},{{include.longitude}}&amp;ie=UTF8&amp;t=h&amp;z=10&amp;ll={{include.latitude}},{{include.longitude}}&amp;output=embed">

https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode&amp;q=68.033333,13.35&amp;ie=UTF8&amp;t=h&amp;z=10&amp;ll=68.033333,13.35&amp;output=embed
https://www.google.com/maps/@47.5362172,7.6819853,14z
{% endcomment %}