{% capture popup %}{{ include.popup | default: false }}{% endcapture %}
{% if include.path contains "/assets/images/" %}
{% capture img_path %}{{ include.path }}{% endcapture %}
{% else %}
{% capture img_path %}/assets/images/responsive/popup/{{ include.path }}{% endcapture %}
{% endif %}
{% capture url_responsible %}{{ site.url_cloudinary_w }}{% endcapture %}
{% if popup == "true" %}<a href="{{ img_path }}" class="{{ site.image_popup_class }}" title="{{ include.alt }}">{% endif %}
{% if include.width %}
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ img_path }}" class="{{ include.class }} lazyload" width="{{ include.width }}" height="{{ include.height }}" alt="{{ include.alt }}" />
{% else %}
{% if site.responsible_images %}
<img data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="{{ include.class }} lazyload" alt="{{ include.alt }}"
 data-src="{{ url_responsible }}288{{ img_path }} 288w"
 data-srcset="{{ url_responsible }}936{{ img_path }} 936w,
{{ url_responsible }}1024{{ img_path }} 1024w,
{{ url_responsible }}972{{ img_path }} 972w,
{{ url_responsible }}936{{ img_path }} 936w,
{{ url_responsible }}848{{ img_path }} 848w,
{{ url_responsible }}732{{ img_path }} 732w,
{{ url_responsible }}553{{ img_path }} 553w,
{{ url_responsible }}379{{ img_path }} 379w,
{{ url_responsible }}343{{ img_path }} 343w,
{{ url_responsible }}328{{ img_path }} 328w,
{{ url_responsible }}274{{ img_path }} 274w,
{{ url_responsible }}274{{ img_path }} 200w,
{{ url_responsible }}274{{ img_path }} 150w" />
{% else %}
<img data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ img_path }}" class="{{ include.class }} lazyload" alt="{{ include.alt }}" />
{% endif %}
{% endif %}
{% if popup == "true"  %}</a>{% endif %}

