<!-- Whitespace added for readability -->
{% if include.date %}
  {% assign pdate = include.date %}
{% else %}
 {% if post.date %}
  {% assign pdate = post.date %}
 {% else %}
  {% assign pdate = page.date %}
 {% endif %}
{% endif %}
{% assign m = pdate | date: "%-m" %}
{{ pdate | date: "%-d" }}.
{% case m %}
  {% when '1' %}Januar
  {% when '2' %}Februar
  {% when '3' %}M&auml;rz
  {% when '4' %}April
  {% when '5' %}Mai
  {% when '6' %}Juni
  {% when '7' %}Juli
  {% when '8' %}August
  {% when '9' %}September
  {% when '10' %}Oktober
  {% when '11' %}November
  {% when '12' %}Dezember
{% endcase %}
{{ pdate | date: "%Y" }}