<figure class="photo-with-exif">
<a href="{{ site.url_cloudinary_popup}}{{ include.img }}" class="{{ site.image_popup_class }}" title="{{ include.alt }}">
<picture>
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.url_cloudinary_width }}{{ include.img }}" class="lazyload blur-up" itemprop="image" alt="{{ include.alt }}" data-sizes="auto" data-widths="[25, 50, 75, 100, 150, 200, 250, 300, 350, 400, 450, 636, 754, 770, 824, 936, 972, 1022]" />
</picture></a>
{% if include.caption %}
<figcaption>{{ include.caption }}</figcaption>
{% endif %}
</figure>
