<article class="hentry">
	<div class="entry-wrapper">
	<header class="entry-header">
<h2 class="entry-page-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
	</header>
      <footer class="entry-meta index">		  
        {% if post.author %}
          {% assign author = site.data.authors[post.author] %}{% else %}{% assign author = site.owner %}
        {% endif %}
        <span class="entry-date date published"><time datetime="{{ post.date | date_to_xmlschema }}"><i class="icon-calendar-empty"> </i> {% include wetty/mydate.html %}</time></span><span><i class="icon-clock"> </i> {{ post.date | date: "%R Uhr" }}</span> <span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/index.html" rel="author"><i class="icon-user"> </i> {{ author.name }}</a></span></span>
        {% if site.owner.disqus-shortname and post.comments == true %}<span class="entry-comments"><i class="icon-comment-empty"></i> <a href="{{ site.url }}{{ post.url }}#disqus_thread">Kommentar</a></span>{% endif %}
        {% if page.share %}{% include social-share.html %}{% endif %}
        {% if post.ads == true %}{% include ad-sidebar.html %}<!-- /.google-ads -->{% endif %}
      </footer>
	  <div class="entry-content">
	       {% if post.content contains '<!--more-->' %}
	        {{ post.content | split:'<!--more-->' | first }}
	        <p><a href="{{ site.url }}{{ post.url }}" class="btn">Weiter lesen →</a></p>
	       {% else %}
	        {{ post.content }}
	       {% endif %}		
      </div><!-- /.entry-content -->
      </div><!-- /.entry-wrapper -->
</article>
