{% if page.series %}{% assign serie = page.series.name | downcase %}{% endif %}
{% if page.categories[0] == "reisen" %}{% assign serie = page.categories[1] | downcase %}{% endif %}
{% if serie %}
<ul id="markdown-toc">
<li class="series_lh"><h2>Artikel Serie: {{ serie }}</h2></li>
{% for post in site.categories.[serie] reversed %}
{% if post.id == page.id %}<li class="series_li"><a href="{{ site.url }}{{ post.url }}">&rarr;&nbsp;{{ post.title }}</a></li>
{% else %}
<li class="series_li"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
{% endif %}
{% endfor %}
</ul>{% endif %}
