{% if page.link %}
{% assign plink = page.link %}
{% else if include.param %}
{% assign plink = include.param %}
{% endif %}
{% if plink %}
<figure class="align-left webshot">
	<a href="{{ plink }}" title="Die externe Seite {{ plink }} im neuen Tab/Fenster öffnen." target="_blank" rel="noopener noreferrer nofollow" class="webshot">
		<img 
		src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
		data-src="//s.wordpress.com/mshots/v1/{{ plink | cgi_escape }}?w=400" 
		class="lazyload" 
		width="400" height="300" 
		alt="{{ plink }}"/>
	</a>
</figure>
<noscript>
	<a href="{{ plink }}" title="Die externe Seite {{ plink }} im neuen Tab/Fenster öffnen." target="_blank" rel="noopener noreferrer nofollow" class="webshot"><img src="//s.wordpress.com/mshots/v1/{{ plink | cgi_escape }}?w=400" width="400" height="300" alt="{{ plink }}" ></a>
</noscript>
{% endif %}
